<%= form_with(model: property, local: true) do |form| %>
  

 
<% end %>

<%= simple_form_for(property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= form.label :property %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :building_age %>
    <%= form.number_field :building_age %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>
<hr>
  

  <%= form.simple_fields_for(:railways) do |railway_form| %>
  <h1>Name of the railway line</h1>
    <div class="field">
      <%= railway_form.label :name, label: 'Name of railway line' %>
      <%= railway_form.text_field :name %>
    </div>

    <div class="field">
      <%= railway_form.label :station, label: 'Station name' %>
      <%= railway_form.text_field :station %>
    </div>

    <div class="field">
      <%= railway_form.label :station, label: 'How many minutes walk' %>
      <%= railway_form.number_field :minutes %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>