<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>


<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
<hr/>
<h1>Stations <%=@property.railways.count %></h1>
<% @property.railways.each_with_index do  |railway,index|%>
  <h1>Nearest Station <%= index + 1 %></h1>
  <p>
    <strong> Name of railway</strong>
    <%= railway.name %>
  </p>

  <p>
    <strong> Station name</strong>
    <%= railway.station %>
  </p>

  <p>
    <strong> How many minutes walk</strong>
    <%= railway.name %>
  </p>
<% end %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
